
.burgas{
    background-color: #e6b325;
    color:#61481C;
    font-family: 'Aboreto', "cursive";
    text-align: center;
}

.pedido{
    color:#61481C;
    font-family: 'Aboreto', "cursive";
    text-align: center;
}