.birra1,.birra2,.birra3,.birra4,.birra5,.birra6,.birra7,.birra8{
    border: solid black;
    padding: 1px;  
    background-color: #E6B325;
    @extend %ubicacion
}

.buttonbirras{
    background-color: #61481C;
    margin-bottom: 5%;
    margin-top: 4%;
    text-shadow: 0 0 2px black;
    color:#E6B325;
    font-family: 'Aboreto', "cursive";
    font-size: 30px;
    
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{
    text-shadow: 0 0 2px black;
    color:black;
    font-family: 'Aboreto', "cursive";
    font-size: 20px;
}