.tituloprincipal{
    display: flex;
    justify-content: center;
    color: map-get($map: $colours, $key: colorletras );
    font-family: 'Aboreto', "cursive";
    font-size: 75px;
    text-align: center;
    margin-top: 75px;
    text-shadow: 0 0 2px black;
}