#reservas{ 
    color:#E6B325;
    font-family: 'Aboreto', "cursive";
    text-align: center;
    border: 2px solid #E6B325;
    margin-top: 5px;
    flex-direction: column;
    background-image: url(https://lahamburgueseria.com/images/restaurantes/cedritos.png);
padding-bottom: 10px;
}

.tituloreservas{
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 70px;
   text-shadow: 0 0 2px black;
}

.calendario{
    display: flex;  
    justify-content: center;
    padding-top: 5px;
    align-content: s;
}

.video{
    margin-top: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
padding-bottom: 20%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.textoindex{
    color: #61481C;
    font-family: 'Aboreto', "cursive";
    
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    border: black 1px solid;
    text-align: center;
    background: rgb(230,179,0);
    background: linear-gradient(90deg, rgba(230,179,0,1) 0%, rgba(206,162,41,1) 8%, rgba(202,159,49,1) 59%, rgba(191,151,66,1) 80%);
}

.footer{
    color:#E6B325
}