.local1,.local2,.local3,.local4,.local5,.local6{
    @extend %ubicacion;
    text-shadow: 0 0 2px black;
    font-family: 'Aboreto', "cursive";
    color: #e6b325
   
}

.buttoncomollegar{
    
    margin-bottom: 20%;
    color: #61481C !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #e6b325;
    border: map-get($map: $colours, $key: bordes );
    border-color: black;
    transition: all 1s ease;
    position: relative;
  }

  .buttoncomollegar:hover {
    background: white;
    color: #e6b325  !important;
  }