.quienessomosbody{
    background-image: url(https://static.wixstatic.com/media/3d96c6_555ad3beabcd43e7a35740226ad9f4a5~mv2.jpg/v1/fill/w_1341,h_586,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3d96c6_555ad3beabcd43e7a35740226ad9f4a5~mv2.jpg);
    transition: background-color 1s linear;
}
.caja1{
background-color: #A47E3B;
}
.nosotrostitulo{
color:#E6B325;
font-family: 'Aboreto', "cursive";
text-align: center;
font-size: 20px;
background-color: #A47E3B;
}

.nosotrostexto{
color:#E6B325;
font-family: 'Aboreto', "cursive";
text-align: center;
font-size: 15px;
background-color: #A47E3B;
}

.opiniontitulo{
    padding-top: 20%;
    color:#E6B325;
    font-size: 40px;
    font-family: 'Aboreto', "cursive";
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
  }


.formulario1,.formulario2{ 
    color:#E6B325;
    font-family: 'Aboreto', "cursive";
    text-align: center;
    display: grid;
    align-items: center;
}

.texto1,.texto2{
    background-color: #E6B325;
    border-color: #A47E3B;
}


@media screen and (max-width:576px){

.caja1{
    margin-top: 30px;
    
}
.nosotrostitulo{
    padding-bottom: 10px;
}
}